[nz-carousel] {
    width: 300px;
    height: 200px;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

[nz-carousel-content] img {
    width: 100%;
    height: 100%;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}