p {
    margin: 0.8rem 0 0;
    color: #000000;
    text-align: justify;
}

:host ::ng-deep nz-card {
    width: 420px;
    height: 520px;
    margin: 15px;
    background-color: #5271ff;
    border: none;
    border-radius: 5%;
}

:host ::ng-deep nz-card .ant-card-head {
    background-color: #ffffff;
}