<header>
    <div class="container">
        <a routerLink="/" class="logo-principal">
            <img src="images/ICON_LOGO_RODRIGO_SISTEMAS_NO_BG.png" width="38px" alt="Rodrigo Sistemas">
            <p id="logo-texto">RODRIGO<span class="blink">_</span>SISTEMAS</p>
        </a>
        <nav aria-label="Navegación principal">
            <a routerLink="portfolio" class="nav-link">PORTAFOLIO</a>
            <a routerLink="blog" class="nav-link">BLOG</a>
            <a routerLink="contact" class="nav-link">CONTACTO</a>

        </nav>

    </div>
</header>