<section class="contact-section" #contactSection>
  <div class="contact-container">
    
    <div class="header-box">
      <h3 class="section-title">CONTACTO</h3>
      <p class="section-subtitle"><br>
        Envíame un email o conecta conmigo en mis redes sociales.
      </p>
    </div>

    <a href="mailto:rodrigosistemas22@outlook.com" class="email-card">
      <nz-icon nzType="mail" nzTheme="outline" />
      <span class="email-text">rodrigosistemas22&#64;outlook.com</span>
      <div class="card-glow"></div>
    </a>

    <div class="social-container">
      <a href="https://www.instagram.com/rodrigo.sistemas" target="_blank" class="social-btn instagram">
        <div class="icon-wrapper">
          <img src="images/instagram.png" alt="Instagram">
        </div>
        <span class="social-name">Instagram</span>
      </a>

      <a href="https://github.com/rodrigosistemas" target="_blank" class="social-btn github">
        <div class="icon-wrapper">
          <img src="images/github.png" alt="Github">
        </div>
        <span class="social-name">Github</span>
      </a>

      <a href="https://www.linkedin.com/in/rodrigo-hernandez-sistemas" target="_blank" class="social-btn linkedin">
        <div class="icon-wrapper">
          <img src="images/linkedin.png" alt="Linkedin">
        </div>
        <span class="social-name">LinkedIn</span>
      </a>
    </div>

  </div>
</section>