<section class="about-me">

  <h3>ACERCA DE MI</h3>

  <div class="aboutme-container">
    <p>Hola, mi nombre es <strong class="text-highlighted">Rodrigo Hernández</strong>. Soy <strong
        class="text-highlighted">desarrollador de software</strong> y estudiante de
      <strong class="text-highlighted">Ingeniería de Sistemas e Informática</strong>. Llevo más de 6 años
      aprendiendo y perfeccionándome continuamente en las TIC.
    </p>

    <p>Actualmente estoy <strong class="text-highlighted">especializándome</strong> en <strong
        class="text-highlighted">ciberseguridad</strong>, con el objetivo de ayudar a
      empresas y organizaciones a blindar sus activos digitales, mantener sus operaciones sin interrupciones y salvaguardar la confianza de sus clientes.</p>

    <p>En mis proyectos aplico prácticas <strong class="text-highlighted">DevOps</strong> (automatización, CI/CD e
      infraestructura como código) para acelerar las entregas, mejorar la confiabilidad
        del software y escalar con seguridad.</p>


  </div>

  <img src="images/me-nobg.png" id="main-rodrigo" width="400" height="600" alt="Rodrigo Hernández">

  <div class="personal-values">
    <h4>MIS VALORES</h4>
    <ul>
      <li><strong class="text-highlighted">Pasión: </strong>Disfruto profundamente lo que hago, poniendo el máximo
        entusiasmo en cada proyecto tecnológico que realizo.</li>
      <li><strong class="text-highlighted">Perseverancia: </strong>Cada obstáculo es para mi una oportunidad de
        aprendizaje y mejora constante.</li>
      <li><strong class="text-highlighted">Respeto:</strong> Reconozco el valor de cada persona y de aquello que se me confía, actuando siempre de manera ética en mi labor.</li>
      <li><strong class="text-highlighted">Gratitud: </strong>Aprecio cada experiencia y oportunidad, reconociendo
        siempre el valor del trabajo en equipo.</li>
    </ul>
    <img src="images/foto-valores.png" id="second-rodrigo" alt="Rodrigo Hernández" width="300">
  </div>

</section>

<section class="skills">

  <div class="expertise">
    <h4>ÁREAS DE ESPECIALIZACIÓN</h4>
    <collapse-accordion></collapse-accordion>
  </div>

  <div class="additional-education">
    <h4>FORMACIÓN COMPLEMENTARIA</h4>

    <div class="carousel-shell cert-carousel">    
      <nz-carousel-autoplay></nz-carousel-autoplay>
    </div>
  </div>



</section>
