[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

:host ::ng-deep button {
    background-color:#961723;
    border: none;
    opacity: 0.9;
    transition: 0.3s;
}

:host ::ng-deep button:hover {
    background-color: #961723;
    opacity: 1.1;
}

:host ::ng-deep button:focus {
    background-color: #961723;
}