<div class="hero">
  <video id="hero-video" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="/video/VIDEO_HERO.mp4" type="video/mp4">
    Tu navegador no soporta el elemento <code>video</code>.
  </video>

  <div class="hero-content">
    <div class="overlayText">
      <h1>RODRIGO HERNÁNDEZ</h1>
      <h2 #titular></h2>
    </div>

    <div class="social-container">
      <a href="https://www.instagram.com/rodrigo.sistemas/" target="_blank">
        <img src="images/instagram.png" alt="Instagram">
      </a>
      <a href="https://github.com/rodrigosistemas" target="_blank">
        <img src="images/github.png" alt="Github">
      </a>
      <a href="https://www.linkedin.com/in/rodrigo-hernandez-sistemas/" target="_blank">
        <img src="images/linkedin.png" alt="Linkedin">
      </a>
    </div>

    <a routerLink="/contact" class="btn-contact">Contáctame</a>
  </div>
</div>

<app-aboutme></app-aboutme>
