.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#hero-video {
  display: block;
  width: 100vw;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.hero-content {
  position: absolute;
  font-family: 'IBMPlexMono-Regular';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;    
  gap: 1.5rem;    
  padding: 0 1rem;      
  z-index: 1;
}

.overlayText h1 {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin: 0;
}
.overlayText h2 {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.social-container {
  display: flex;
  gap: 1rem;
}
.social-container img {
  width: 2.5rem;
  height: 2.5rem;
}

.btn-contact {
  display: none;
}

@media (min-width: 1024px) {
  .hero {
    height: 100vh;
  }
  #hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .overlayText h1 {
    font-size: 5rem;
  }
  .overlayText h2 {
    font-size: 1.5rem;
  }
  .social-container img {
    width: 3rem;
    height: 3rem;
  }
  
  .btn-contact {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    transition: background-color .3s;
  }
  .btn-contact:hover {
    background-color: #961723;
  }

}


