@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('./assets/fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueLight.otf');
}

body {
    margin: 0px;
    background-color: rgb(22, 21, 21);
}

p, li {
    font-family: 'Helvetica Neue';
    color: #ffffff;
}

ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

/* Título Principal h3 */
h3.section-title {
  font-size: 1.5rem;
  font-family: 'IBMPlexMono-Regular';
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative; /* Necesario para el ::after */
  display: inline-block;
  width: 100%;
  text-align: center; /* Centrado en Mobile */
  margin: 3.75rem 0 1rem;
}

/* Subtítulos h4 */
h4 {
  font-size: 1.2rem;
  font-family: 'IBMPlexMono-Regular';
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

h3.section-title::after,
h4::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background: #75151E;
  border-radius: 2px;
  margin: 10px auto 0;
}