@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('./assets/fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: 'WorkSans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0px;
    background-color: rgb(22, 21, 21);
}

p {
    font-family: 'WorkSans';
    color: #ffffff;
}

ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

h3 {
    font-size: 24px;
    font-family: 'IBMPlexMono-Regular';
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
}